<section class="new-training" fxLayout fxLayoutAlign='center'>
    <form (ngSubmit)='onStartTraining(f)' #f='ngForm'>
    <mat-card fxFlex.xs='100%' fxFlex='500px'>
        <mat-card-title fxLayoutAlign='center'><h2>Time to start a workout</h2></mat-card-title>
        <mat-card-content fxLayoutAlign='center'>
            <mat-form-field >
                <mat-select placeholder='Choose a workout' ngModel name='exercise' required>
                    <mat-option *ngFor='let exercise of exercises' [value]='exercise.id'>
                        {{ exercise.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign='center'>
            <button type='submit' mat-raised-button color='accent' [disabled]='f.invalid'>
                <mat-icon>play_arrow</mat-icon>
                let's start
            </button>
        </mat-card-actions>
    </mat-card>
    </form>
</section>