/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
    height: 100%;
}

a, h1, h2, li {
    font-family: 'Amatic SC', cursive;

}
body {
    margin: 0;
    
}

ul {
    list-style: none;
}